name: detector_de_mentira_app
description: Aplicativo mobile de entretenimento que simula detector de mentira usando sensores do celular.
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

flutter:
  uses-material-design: true
